//*CSS DOCUMENT*/

div.container {
    max-width: 60em;
    margin-right: 1em;
    margin-left: 1em;
}
img {
    width: 100%; 
}
nav ul {
    padding: 0;
}
nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: 1em;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
nav ul li a {
    color: #CEE7E6;
    text-decoration: none;
}
nav ul li a:hover {
    color: #648767;
}
p {
    text-decoration: none;
    font-weight: bold;
    color: #65743A;
}
header {
    background: #336f8a;
    grid-column: 1/3;
    padding-left: 0.5em;
    text-align: center;
}
article {
    background: none;
    padding-left: 0.5em;
}
aside {
    background: #f0d6ce;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    margin-bottom: auto;
}
footer {
    padding-left: 0.5em;
}
figure {
    width: 100%;
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
}
h1 {
    width: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
